@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  ;
  color: #000000;
}

img {
  display: block;
  /*можно так оставить, чтоб для всех картинок было?*/
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /*почему не работает липктй футер?*/
}

.inner-container {
  width: 1060px;
  margin: 0 auto;
  border: red 1px solid;
  /*временная рамка, чтоб видеть контейнер*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-index {
  background-color: #FFFFFF;
  ;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 480px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}

.navigation-user {
  width: 270px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  display: block;
  padding: 20px 34px;
}

.user-item {
  min-width: 42px;
  min-height: 66px;
  border: red 1px solid;
}

.user-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  display: block;
  padding: 9px 15px;
}

.header-button {
  width: 160px;
  background-color: #756157;
  border-radius: 4px;
  margin-left: auto;
}



.main-index-header {
  background-image: url(../images/index-background.jpg);
  background-color: #4682b4;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 63px;
  margin-top: 0;
  margin-bottom: 31px;
}

.main-img {
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages {
  font-weight: normal;
  margin: 0;
  text-align: center;
  color: #333333;
  margin-bottom: 90px;
}

.advantages-item {
  text-align: center;
}

.advantages-item-title,
.services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 92px;
  margin-bottom: 30px;
}

.advantages-item-number {
  margin-bottom: 30px;
}

.order {
  background-color: #ffffff;
}

.order-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 91px;
}

.order-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 56px;


}

.order-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: block;
  background: #756157;
  padding: 12px 15px;
}

.order-button-wrapper {
  width: 544px;
  text-align: center;
  height: 36px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 93px;
}

.sign {
  background-image: url(../images/background-sign.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #4682b4;
  color: #ffffff;
}

.sign-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 94px;
}

.sign-description {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 46px;
}

.sign-form {
  font-family: inherit;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 94px;
  /* почему он не центрируется?  */
}

.sign-field {
  width: 600px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  /*почему мне конфиг пишет ошибку? можно как-то по-другому задать бордер-радиус с одной стороны только?*/
  padding-left: 22px;
  padding-top: 20px;
  padding-bottom: 19px;
}

.sign-button {
  width: 200px;
  background-color: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 15px;
}

/*footer*/

.footer-container {
  display: flex;
  padding-top: 45px;
  padding-bottom: 35px;
}

.social-list-container {
  display: flex;
  width: 140px;
  justify-content: space-between;
  list-style: none;
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
}

.footer-link {
  margin-left: auto;
}

/*styles catalog*/

.main-top {
  background-image: url(../images/background-catalog.png);
  background-size: cover;
  background-color: #4682b4;
  color: #ffffff;
  background-repeat: no-repeat;
}


.main-header-titel {
  font-size: 60px;
  line-height: 78px;
}

.breadcrubs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrubs-link {
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.button-submit {
  width: 160px;
  background-color: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.select-container {
  display: flex;
}

.select-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  margin-left: auto;
}

.select-control-option {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  margin-right: 18px;
  box-sizing: border-box;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-img {
  max-width: 100%;
  height: auto;
}

.price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-detail {
  width: 140px;
  background: #756157;
  border-radius: 4px;
}

.hotel-detail a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.select-button {
  width: 140px;
  background-color: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-selected {
  background-color: #7db54f;
}

.hotel-rating {
  width: 140px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-rating span {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.pagination {
  display: flex;
  list-style: none;
}

.sign-catalog {
  background-color: #ffffff;
}

.sign-catalog-description {
  color: #333333;
  text-align: center;
}
